<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Playlists de {{ getUserName() }}</ion-title>

    <ion-button shape="round" fill="outline" (click)="logout()">
      <ion-icon slot="icon-only" name="power-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button (click)="logout()">
      <div *ngIf="isSignedIn()">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </div>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <div *ngIf="isSignedIn()">
      <ion-button color="secondary">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </div>
  </ion-buttons>
  <ion-title>Daily Grocery</ion-title>
</ion-toolbar>
