<ion-content [fullscreen]="true">
  <ion-title class="title-center" size="large">Log In</ion-title>
  <form
    class="sign-in-form"
    [formGroup]="form"
    *ngIf="form"
    (ngSubmit)="loginEmailAndPassword()"
  >
    <ion-item>
      <ion-label position="stacked">Mail Address</ion-label>
      <ion-input
        type="email"
        [formControl]="emailControl"
        name="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        [formControl]="passwordControl"
        name="password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" block>Sign In</ion-button>
  </form>
  <div class="register">
    <p>
      No account yet ?
      <a class="link" (click)="toRegisterPage()">Create one</a> !
    </p>
  </div>

  <ion-title class="title-center">or</ion-title>
  <div class="other-cnt-opt">
    <ion-button (click)="loginGoogle()">Log In with Google</ion-button>
  </div>
</ion-content>
