<ion-content [fullscreen]="true">
  <ion-title class="title-center" size="large">Log In</ion-title>
  <form
    class="sign-up-form"
    [formGroup]="form"
    *ngIf="form"
    (ngSubmit)="register()"
  >
    <ion-item>
      <ion-label position="stacked">Mail Address</ion-label>
      <ion-input
        type="email"
        [formControl]="emailControl"
        name="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="current-password"
        [formControl]="passwordControl"
        name="password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm password</ion-label>
      <ion-input
        type="current-password"
        [formControl]="confirmPasswordControl"
        name="confirmPassword"
      ></ion-input>
    </ion-item>

    <ion-button type="submit" block>Create account</ion-button>
  </form>
</ion-content>
