.sign-up-form {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 2rem;
}

.sign-up-form > ion-item {
  margin: 1rem 0;
}

.title-center {
  text-align: center;
  margin: 2rem 0;
}
