<div id="modal-share">
  <h3 class="title-margin">Add an user</h3>
  <form [formGroup]="shareForm" (ngSubmit)="addSharedUser()">
    <ion-item>
      <ion-label position="stacked">Mail Address</ion-label>
      <ion-input formControlName="mailAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Right</ion-label>
      <ion-select value="readers" formControlName="right" interface="popover">
        <ion-select-option value="readers">Read</ion-select-option>
        <ion-select-option value="writers">Write</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button [disabled]="shareForm.invalid" expand="block" type="submit"
      >Validate</ion-button
    >
  </form>
  <h3 class="title-margin">Shared users</h3>
  <ion-grid>
    <ion-row *ngFor="let reader of playlist.readers">
      <ion-col class="mail" size="8">{{ reader }}</ion-col>
      <ion-col size="2">
        <ion-select
          value="readers"
          interface="popover"
          (ionChange)="updateReaderToWriter(reader)"
        >
          <ion-select-option value="readers">Read</ion-select-option>
          <ion-select-option value="writers">Write</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="trash-button" size="2">
        <ion-button (click)="deleteReader(reader)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let writer of playlist.writers">
      <ion-col class="mail" size="8">{{ writer }}</ion-col>
      <ion-col size="2">
        <ion-select
          value="writers"
          interface="popover"
          (ionChange)="updateWriterToReader(writer)"
        >
          <ion-select-option value="readers">Read</ion-select-option>
          <ion-select-option value="writers">Write</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="trash-button" size="2">
        <ion-button (click)="deleteWriter(writer)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
